* {  
  --color1: #000229; 
   --color2: #a0c4e2;  
   --color3: #e47011;  
   --color4: #fff599;  
   --color5: #dedee3;  
   margin: 0;  
   padding: 0;  
   box-sizing: border-box;  
   font-family: 'Poppins';  
   text-transform: uppercase;
   color: white;
  }

   /* desktop */
@media (min-width: 400px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    background-image: url("https://cdn.hipwallpaper.com/i/9/96/sjcKm9.jpg");
  }
  
  .Nav-Links {
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(30);
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  .Home-Page {
    display: flex;
    flex-direction: column;
  }

  .auth-forms {
    margin-top: 20vh;
  }

  form {
    display: flex;
    flex-direction: column;
    background-color: rgba(228, 112, 17, 0.484);
    margin: 4%;
    padding: 4%
  }
  input[type=password]:focus {  
    width: 60%;
    background: #a0c4e2;
  }

  input[type=text]:focus {  
    width: 60%;
    background: #a0c4e2;
  }
  
}


/* mobile */
@media (max-width: 400px) {
    .App {
      text-align: center;
      background-image: url("https://cdn.hipwallpaper.com/i/9/96/sjcKm9.jpg");
      height: 100vh;
    }

    form {
      display: flex;
      flex-direction: column;
      background-color: rgba(228, 112, 17, 0.484);
      margin: 4%;
      padding: 4%
    }

    .Nav-Links {
      background-color: rgba(255, 255, 255, .15); 
      backdrop-filter: blur(30);
    }

    input[type=password]:focus {  
      width: 60%;
      background: #a0c4e2;
    }
  
    input[type=text]:focus {  
      width: 60%;
      background: #a0c4e2;
    }
}